/***************
GLOBAL STYLES
***************/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: $serif;
  line-height: 1.7;
  font-size: 110%;
  color: black;
  overflow-x: hidden;
  margin: 0;

  p,
  ul {
    margin: 0 0 2rem;
  }
}

// Text Selection Styling
::-moz-selection {
  background: var(--primary-color);
  color: white;
  @media (prefers-color-scheme: dark) {
    color: black;
  }
}

::selection {
  background: var(--primary-color);
  color: white;
  @media (prefers-color-scheme: dark) {
    color: black;
  }
}

// Media Styling
img,
video,
audio,
iframe,
object {
  max-width: 100%;
}

// Layout
.container {
  max-width: 610px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

/***************
LINK STYLING
***************/

a {
  color: var(--primary-color);

  &:hover {
    color: var(--primary-color-dk);
  }
}

/***************
MENU STYLING
***************/

.nav-collapse {
  z-index: 1;

  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;

    li {
      width: 100%;
      display: block;
      background: var(--background-color);
      border-bottom: 2px solid var(--background-color-lt);

      a {
        color: white;
        text-decoration: none;
        display: block;
        padding: 5px 2rem;
      }
    }
  }
}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  clear: both;
  width: 100%;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  float: right;
  line-height: 0.9;
  background-color: var(--background-color);
  border-radius: 4px;
  padding: 0px 0.3em 2px;
  color: white;
  text-decoration: none;
  position: relative;
  transition: all 0.2s ease-in-out;
  font-weight: bolder;
  margin-top: 8px;
  font-size: 2.15em;
  font-weight: normal;
  right: 0.5rem;

  &:hover {
    color: white;
    background-color: var(--background-color-dk);
  }
}

/***************
LIST STYLING
***************/

.noList {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.5rem;
}

.post ul ul,
.post ul ol,
.post ol ul,
.post ol ol {
  margin: 0;
}

/***************
PAGE STYLES
***************/

.pageTitle {
  margin: 2rem auto 1em;
  text-align: center;
}

.content {
  padding-top: 1em;
}

/***************
HEADER STYLING
***************/

.header {
  background-color: var(--background-color);
  background-image: url("../img/code.webp");
  background-size: cover;
  background-position: center center;
  color: white;
  padding: 0;
  height: 3em;

  .container {
    padding: 0;
    max-width: 100%;
  }

  h1 {
    margin: 0;
    float: left;
    padding-left: 2rem;
    font-size: 1em;
    line-height: 3em;
    font-family: $sans-serif;
    font-weight: 800;
    text-transform: uppercase;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

/***************
POST STYLING
***************/

.post {
  .postTitle {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  blockquote {
    clear: both;
    margin: 2.5em 0;
    padding: 0;
    line-height: 1.8;
    position: relative;

    p {
      text-align: center;
    }

    &:before {
      content: "";
      position: absolute;
      top: -1.25em;
      background: var(--background-color);
      display: block;
      height: 2px;
      width: 150px;
      left: calc(50% - 75px);
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -1.25em;
      background: var(--background-color);
      display: block;
      height: 2px;
      width: 150px;
      left: calc(50% - 75px);
    }
  }

  .meta {
    text-align: center;
    font-family: $sans-serif;
    font-weight: 300;
    color: lighten(black, 10%);
    @media (prefers-color-scheme: dark) {
      color: lighten(black, 80%);
    }
  }

  figure {
    margin: 3rem 0;

    figcaption {
      text-align: center;
      margin-top: 4px;
      font-size: 0.9em;
      color: lighten(black, 30%);
    }

    img {
      margin: 0 auto;
      display: block;
    }
  }

  img {
    margin-bottom: 2rem;
  }

  .highlight {
    clear: both;
    margin-bottom: 2rem;
  }

  pre.highlight {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
  }

  .dropcap {
    color: var(--primary-color);
    margin-right: 0.45rem;
  }

  .featuredImage {
    position: relative;
    margin-top: 2rem;

    img {
      margin-bottom: 0;
    }
  }
}

/***************
POST NAV STYLING
***************/

.postNav {
  border-top: 1px solid darken(white, 10%);
  border-bottom: 1px solid darken(white, 10%);
  overflow: hidden;

  .prev,
  .next {
    display: block;
    width: 100%;
    height: 5rem;
    overflow: hidden;
    position: relative;
    font-family: $sans-serif;
    font-weight: 800;
    font-size: 0.9em;
    text-transform: uppercase;
    text-align: center;

    img {
      z-index: 1;
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 100%;
      height: auto;
    }

    span {
      z-index: 10;
      position: relative;
      padding: 0.5rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      line-height: 1.4;
    }

    &.image {
      text-decoration: none;
      color: white;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
      padding: 0 0.5rem;
      position: relative;
      transition: all 0.2s ease-in-out;
    }

    &:hover {
      &.image {
        opacity: 0.8;
      }
    }
  }

  .prev {
    span {
      left: 0;
    }
  }

  .next {
    span {
      right: 0;
    }
  }
}

/***************
FOOTER STYLING
***************/

.footer {
  text-align: center;
  padding: 2rem 0;
  clear: both;

  .container {
    border-top: 4px solid darken(white, 15%);
    padding-top: 0.5em;
    max-width: 90%;
  }

  .copy,
  .footer-links {
    font-size: 0.8em;
  }

  .copy {
    margin-bottom: 1rem;
  }

  &-links {
    ul {
      text-align: center;

      li {
        display: inline-block;
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: inline-block;
          width: 30px;
          height: 30px;
          transition: all 0.2s ease-in-out;

          svg {
            display: block;
            width: 100%;
            height: 100%;

            .outer-shape {
              fill: var(--primary-color);
            }

            .inner-shape {
              fill: white;
              @media (prefers-color-scheme: dark) {
                fill: black;
              }
            }
          }
        }

        &:hover {
          a {
            svg {
              .outer-shape {
                fill: var(--primary-color-dk);
              }
            }
          }
        }
      }
    }
  }
}

/***************
PAGINATION STYLING
***************/

.pagination {
  .next {
    float: left;
  }

  .previous {
    float: right;
  }
}

/***************
POST LIST STYLING
***************/

.posts {
  li {
    margin-bottom: 4rem;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .date {
      color: lighten(black, 20%);
      font-family: $sans-serif;
      font-weight: 300;
      font-size: 0.8em;
    }

    h3 {
      margin: 0 0 0.5em;
    }
  }
}

.embedded-video {
  display: flex;
  justify-content: center;

  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    max-width: 800px;
  }
}

code.language-plaintext.highlighter-rouge {
  background-color: #f2f2f5;
  color: var(--primary-color);
  padding: 1px 8px;
  border-radius: 8px;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: #eee;
  }

  .posts li .date {
    color: #ccc;
  }

  .postNav {
    border-top: 1px solid lighten(black, 20%);
    border-bottom: 1px solid lighten(black, 20%);
  }

  .header {
    background: none;

    & .nav-toggle {
      background: #374151;
    }
  }

  .nav-collapse ul li {
    background: #374151;
    border-bottom-color: #111827;
  }

  .footer .container {
    border-top-color: lighten(black, 20%);
  }

  code.language-plaintext.highlighter-rouge {
    background-color: #282c34;
  }
}
