{% comment %}
  Usage:

  {%
    include aside.html
      type="info"
      title="This is an aside"
      content="`this` **really** looks [great](#)!"
  %}
{% endcomment %}

{% assign aside_type = include.type | default: 'info' %}

<aside class="Note Note--{{aside_type}}">
  {% if include.type and include.icon != false %}
    <div class="icon-box">
      <span class="icon">
        {% if aside_type == "info" %}
          i
        {% elsif aside_type == "success" %}
          ✓
        {% elsif aside_type == "warn" %}
          !
        {% else %}
          ✖
        {% endif %} </span>
    </div>
  {% endif %}

  {% if include.title != nil %}
    <strong class="title">{{include.title}}</strong>
  {% endif %}

  {{include.content | markdownify | replace: '<p', '<p class="content"'}}

  {% if include.more != nil %}
    <details>
      <summary></summary>
      {{include.more | markdownify | replace: '<p', '<p class="content"'}}
    </details>
  {% endif %}
</aside>
