 <div class="header">
     <div class="container">
        <h1 class="logo">
            <a href="{{ site.baseurl }}/">
                <span class="dir">~</span>
                <span class="text">
                    {{ site.title | upcase }}
                </span>
            </a>
        </h1>
         <nav class="nav-collapse" style="visibility: hidden">
             <ul class="noList">
                 {% for link in site.navigation %}
                 <li class="element {% if forloop.first %}first{% endif %} {% if page.url == link.url %} current {% endif %} {% if forloop.last %}last{% endif %}">
                    <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
                 </li>
                 {% endfor %}
             </ul>
         </nav>
     </div>
 </div><!-- end .header -->
