<div class="header">
  <div class="container">
    <h1 class="logo">
      <a href="{{ site.baseurl }}/">
        <span class="dir">~</span>
        <span class="text">
          {{ site.title | upcase }}
        </span>
      </a>
    </h1>
    <nav class="nav-collapse" style="visibility: hidden">
        <ul class="noList">
          {% for link in site.navigation %}
            <li class="element {% if forloop.first %}first{% endif %} {% if page.url == link.url %} current {% endif %}">
              <a href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          <li class="element last">
            <button class="theme-toggle" data-theme="dark" onclick="toggleTheme()">Turn lights</button>
          </li>
        </ul>
    </nav>
  </div>
</div><!-- end .header -->

<script>
  function toggleTheme(e) {
    const body = document.querySelector('body');
    const newTheme = body.dataset.theme === 'light' ? 'dark' : 'light';
    body.dataset.theme = newTheme;

    document.querySelector('.nav-collapse [data-theme]').dataset.theme = newTheme;
  }
</script>
