/***************
COLOR VARIABLES
***************/

$grey: #aaa;

:root {
  --serif-font: "Open Sans", Helvetica, Arial, sans-serif;
  --sans-serif-font: var(--serif-font);
  --monospace-font: "JetBrains Mono", monospace;

  --blue: #0f4c82;
  --blue-lt: #8fcbff;
  --blue-dk: #093154;
  --orange: #f0b37d;
  --orange-lt: #f1ba8a;
  --orange-dk: #e99042;
  --green: #97c475;
  --red: #d34059;
  --cool-grey: #374151;

  --muted-color: #f2f2f5;
  --primary-color: var(--blue);
  --primary-color-dk: var(--blue-dk);
  --background-color: var(--primary-color);
  --background-color-dk: var(--primary-color-dk);
  --code-background-color: #282c34;
  --inline-code-color: var(--primary-color);
  --inline-code-background-color: var(--muted-color);
  --info-color: var(--blue);
  --warn-color: var(--orange-dk);
  --error-color: var(--red);
  --bg-info-color: #8fcbff33;
  --bg-warn-color: #f0b37d33;
  --bg-error-color: #d3405933;
  --page-bg-color: white;
  --highlight-color: var(--blue-lt);

  --primary-text-color: black;
  --secondary-text-color: #4d4d4d;
  --nav-background-color: #fffd;
  --nav-background-image: url("../img/code.webp");
  --footer-border-color: #eee;

  --dark-safe: unset;

  --toggle-theme-icon: "🌙 ";
  --toggle-theme-word: " off";
}

body[data-theme="dark"] {
  --primary-color: var(--orange);
  --primary-color-dk: var(--orange-dk);
  --primary-color-lt: var(--orange-lt);
  --inline-code-background-color: var(--code-background-color);
  --info-color: var(--blue-lt);
  --page-bg-color: black;
  --highlight-color: var(--primary-color);
  --inline-code-color: var(--primary-color);

  --primary-text-color: #eee;
  --secondary-text-color: #b3b3b3;

  --background-color: var(--cool-grey);
  --nav-background-color: #14181eee;
  --nav-background-image: none;
  --footer-border-color: #333;

  --dark-safe: invert(100%);

  --toggle-theme-icon: "☀️ ";
  --toggle-theme-word: " on";
}
