/***************
COLOR VARIABLES
***************/

$grey: #aaa;

:root {
  --serif-font: "Open Sans", Helvetica, Arial, sans-serif;
  --sans-serif-font: var(--serif-font);
  --monospace-font: "JetBrains Mono", monospace;

  --blue: #0f4c82;
  --blue-lt: #8fcbff;
  --blue-dk: #093154;
  --orange: #f0b37d;
  --orange-lt: #f1ba8a;
  --orange-dk: #e99042;
  --green: #97c475;
  --red: #d34059;
  --cool-grey: #374151;

  --muted-color: #f2f2f5;
  --primary-color: var(--blue);
  --primary-color-dk: var(--blue-dk);
  --background-color: var(--primary-color);
  --background-color-dk: var(--primary-color-dk);
  --background-color-lt: var(--primary-color-lt);
  --link-color: var(--primary-color);
  --code-background-color: #282c34;
  --inline-code-color: var(--primary-color);
  --inline-code-background-color: var(--muted-color);
  --info-color: var(--blue);
  --warn-color: var(--orange-dk);
  --error-color: var(--red);
  --bg-info-color: #8fcbff33;
  --bg-warn-color: #f0b37d33;
  --bg-error-color: #d3405933;
  --page-bg-color: white;
  --highlight-color: var(--blue-lt);
  --nav-background-color: #fffd;
  --nav-text-color: black;
  --toggle-theme-icon: "🌙 ";
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: var(--orange);
    --primary-color-dk: var(--orange-dk);
    --primary-color-lt: var(--orange-lt);
    --inline-code-background-color: var(--code-background-color);
    --info-color: var(--blue-lt);
    --page-bg-color: black;
    --highlight-color: var(--primary-color);
    --background-color: var(--cool-grey);
    --nav-background-color: #14181eee;
    --nav-text-color: white;
  }

  body[data-theme="dark"] {
    --toggle-theme-icon: "☀️ ";
  }
}
