/***************
COLOR VARIABLES
***************/

$red: #ff4136;
$grey: #aaa;

// Color variables
:root {
  --primary-color: #0f4c82;
  --primary-color-dk: #093154;
  --primary-color-lt: #125fa2;
  --background-color: var(--primary-color);
  --background-color-dk: var(--primary-color-dk);
  --background-color-lt: var(--primary-color-lt);
  --link-color: var(--primary-color);
  --code-background-color: #282c34;
  --inline-code-background-color: #f2f2f5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #f0b37d;
    --primary-color-dk: #e99042;
    --primary-color-lt: #f1ba8a;
    --inline-code-background-color: var(--code-background-color);
  }
}

$bad-color: $red; // Bad color for errors, validation etc.
$subtle-color: $grey; // Subtle color for subtle text

/***************
CONSISTENT SETTINGS
***************/

$br: 5px; // Border-radius
$btn-br: 5px; // Button border-radius
$padding: 40px; // Padding and margins
$line-height: 44px; // Consistent height for buttons, inputs etc.

/***************
TYPE SETTINGS
***************/

$serif: "Open Sans", Helvetica, Arial, sans-serif;
$sans-serif: $serif;
$monospace: "JetBrains Mono", monospace;
