/***************
GLOBAL STYLES
***************/

body {
  font-size: 120%;
}

.content {
  padding-top: 0;
  position: relative;
  z-index: 1;
}

.container {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

/***************
HOMEPAGE STYLING
***************/

#home {
  .posts,
  .pageTitle,
  .pagination {
    width: 90%;
    float: none;
    margin: 0 auto 1.5em;
  }

  .pageTitle {
    margin: 2rem auto 1em;
  }
}

/***************
HEADER STYLING
***************/

.header {
  height: 8em;
  position: relative;

  .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 880px;
    overflow: hidden;
  }

  h1 {
    font-size: 3em;
    line-height: 1;
    letter-spacing: -3px;
    padding-left: 0;
  }

  nav {
    float: left;
    clear: left;

    ul {
      margin: 0;
      li {
        display: inline;
        line-height: 3em;
        background: none;
        padding: 0 5px;
        border: none;

        a,
        button {
          color: white;
          font-size: 0.9em;
          text-decoration: none;
          padding: 0 0.25em;
        }

        .theme-toggle {
          width: fit-content;
        }

        &.current {
          padding-bottom: 0.25em;
          border-bottom: 4px solid var(--highlight-color);
        }
      }
    }
  }
}

/***************
MENU STYLING
***************/

.nav-collapse[popover]:not(:popover-open) {
  display: block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

.nav-collapse {
  position: relative;
  top: auto;
  max-height: none;
  overflow: visible;

  ul li a,
  ul li button {
    display: inline-block;
  }
}

.nav-toggle {
  display: none;
}

/***************
POST STYLING
***************/

.post {
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > p,
  > ul,
  > ol,
  > dl,
  > details,
  > blockquote,
  aside.Note,
  .pageTitle {
    float: none;
    width: 90%;
    margin: 0 auto 2rem;
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    margin: 1rem auto;
  }

  p {
    hyphens: auto;
    text-align: justify;
    text-wrap: pretty;
  }

  .pageTitle {
    margin: 2rem auto 1em;
  }

  .featuredImage {
    position: relative;
    margin-top: 2rem;

    &:before {
      background: white;
      content: "";
      display: block;
      width: 100%;
      height: 4em;
      position: absolute;
      top: -2em;
      left: 0;
      transform: skewY(-2deg);
      transform-origin: bottom left;
    }
  }
}

/***************
POST NAV STYLING
***************/

.postNav {
  .prev,
  .next {
    width: 50%;
  }

  .prev {
    float: left;
    text-align: left;
  }

  .next {
    text-align: right;
    float: right;
  }
}

/***************
FOOTER STYLES
***************/

.footer {
  .footer-links {
    float: right;
  }

  .copy {
    float: left;
  }

  .container {
    padding: 1rem 0;
    max-width: 880px;
  }
}

.post figure.highlight > pre,
.post pre.highlight {
  margin: 0;
  padding: 0;
  font-size: 0.7em;
}
