/***************
BUTTON DEFAULTS
***************/

.button,
.button--outlined {
  background-color: var(--primary-color);
  display: inline-block;
  position: relative;
  font-family: var(--sans-serif-font);
  text-decoration: none;
  color: white;
  font-size: 1em;
  line-height: 1.2em;
  font-weight: normal;
  padding: 0.5em 1.5em;
  border: 0;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 0.5em;
  transition: background-color 0.14s ease-in-out;

  &:hover,
  &:focus {
    color: white;
    text-decoration: none;
    background-color: var(--primary-color-dk);
  }

  &:active {
    top: 1px;
  }
}

.button--outlined {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color);
    color: var(--page-bg-color);
  }
}
