@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital@0;1&display=swap");
@import url("normalize.css");
@import url("config.css");
@import url("typography.css");
@import url("buttons.css");
@import url("tables.css");
@import url("syntax.css");
@import url("mobileup.css");
@import url("800up.css") (min-width: 800px);
@import url("1200up.css") (min-width: 1200px);

/* clearfix (was a mixin, only used once) */
.clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

.profilePic {
  img {
    margin: 0 auto 2rem;
    display: block;
    border-radius: 100%;
    max-width: 200px;
  }
}

.blob {
  code span {
    background-color: currentColor;
    border-radius: 999px;
  }
}

.Tag {
  color: white;
  background-color: var(--primary-color-dk);
  padding: 0 10px;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: bold;
  display: inline;
  vertical-align: middle;
}

.Tag--outlined {
  background: transparent;
  color: currentColor;
  border: 2px solid currentColor;
}

.align-middle {
  vertical-align: middle;
}

.italic {
  font-style: italic;
}

.font-normal {
  font-weight: normal;
}

.font-xl {
  font-size: 1.5rem;
}

.font-sm {
  font-size: 0.8em;
}

.text-center {
  text-align: center;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-4 {
  gap: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-4 {
  margin-bottom: 1rem;
}

.h-auto {
  height: auto;
}

.rounded {
  border-radius: 0.25rem;
}

.max-w-sm {
  max-width: 24rem;
}

.dark-safe {
  filter: var(--dark-safe);
}

.Categories {
  margin-bottom: 2rem;

  h2 {
    font-size: 1.5rem;
    margin-left: 0;
  }
}

.Masonry {
  columns: 2 400px;
  column-gap: 1rem;
}
