.highlight {
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 20px;
  background: var(--code-background-color);
  color: var(--code-foreground-color);
}

:is(figure, div).highlight {
  border: 1px solid rgb(0 0 0 / 0.05);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

/* Highlighted lines */
.highlight .hll {
  margin: 0 -20px;
  padding: 0 18px;
  border-left: 2px solid #97c475;
  background-color: rgb(151 196 117 / 0.15);
  display: block;
  min-width: fit-content;
}

.highlight code:has(span.hll) span:not(.hll, .hll *) {
  filter: opacity(0.5);
}

.highlight .gd {
  color: var(--code-diff-deleted-foreground-color);
  background-color: var(--code-diff-deleted-background-color);
}
.highlight .gr {
  color: #eeeeec;
  background-color: #c00;
}
.highlight .gi {
  color: var(--code-diff-added-foreground-color);
  background-color: var(--code-diff-added-background-color);
}
.highlight .go {
  color: #2c3032;
  background-color: #2c3032;
}

/* Comments */
.highlight .c,
.highlight .cm,
.highlight .c1,
.highlight .cs {
  color: var(--code-comments-color);
  font-style: italic;
}

.highlight .n {
  color: var(--code-name-color);
}

.highlight .err,
.highlight .g,
.highlight .l,
.highlight .x,
.highlight .p,
.highlight .ge,
.highlight .gp,
.highlight .gs,
.highlight .gt,
.highlight .ld,
.highlight .nd,
.highlight .ne,
.highlight .nl,
.highlight .nx,
.highlight .py,
.highlight .ow,
.highlight .w,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .sx,
.highlight .bp {
  color: var(--code-foreground-color);
}

/* Literal.String.Symbol */
.highlight .ni,
.highlight .ss {
  color: var(--code-symbol-color);
}

/* Strings */
.highlight .s,
.highlight .sh,
.highlight .s1,
.highlight .s2 {
  color: var(--code-string-color);
}

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt,
.highlight .nt,
.highlight .si {
  color: var(--code-keyword-color);
}

.highlight .cp,
.highlight .gh,
.highlight .gu,
.highlight .na,
.highlight .nf {
  color: var(--code-method-call-color);
}

.highlight .o,
.highlight .sr,
.highlight .se,
.highlight .nb {
  color: var(--code-builtin-color);
}

.highlight .nc,
.highlight .nn,
.highlight .no {
  color: var(--code-class-color);
}

.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .il {
  color: var(--code-number-color);
}

.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi {
  color: var(--code-parameter-color);
}
