---
layout: default
permalink: /categories/
title: Categories
---

<section>
  <h1 class="pageTitle">Categories</h1>

  {% assign sorted_categories = site.categories | sort %}
  {% for category in sorted_categories %}

  {% capture category_name %}{{ category | first }}{% endcapture %}

  <h2 id="{{ category_name }}">#{{category_name}}</h2>

  <ul class="posts noList">
    {% assign sorted_posts = site.categories[category_name] | sort: 'title' %}
    {% for post in sorted_posts %}
    <li>
      <h3 class="font-xl">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span class="date">{{ post.date | date: "%Y/%m/%d" }}</span>
        {% if post.draft %} <span class="Tag">Draft</span> {% endif %}
      </h3>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
</section>